# --- Blockchain / Hardhat ---
node_modules/
.env
artifacts/
cache/
coverage/
typechain-types/

# --- Unity / Frontend ---
[Library]/
[Temp]/
[Obj]/
[Build]/
[Logs]/
*.csproj
*.sln
*.unitypackage

# --- Python / Backend ---
__pycache__/
venv/
.python-version
*.pyc
.ipynb_checkpoints/

# --- System / OS ---
.DS_Store
Thumbs.db
